# Nuxt dev/build outputs
.nuxt
.output
.data
.nitro
.cache

# Node
node_modules

# Environment variables (but NOT .env.example)
.env
.env.*
!.env.example

# Cloudflare local dev
.wrangler
.mf
.dev.vars

# Logs
logs
*.log
npm-debug.log*

# Editor directories
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
